/* zero out the margins and pading on body */

body{
  margin: 0px;
  padding:0px;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: #000;
}

/* styles for the masthead */

.masthead{

  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  background-color: #000;
  opacity: 0.9;
  margin-bottom: 50px;
  border-bottom: 1px solid seashell;
  position: fixed;


}

/* styles for the logo div container */

.logo{

  padding-left: 10px;
}

/* styles for the logo */

.teacozy-logo{
  height: 50px;
  width: auto;
  padding-right: 50px;
}

/* styles for the masthead nav links */

.masthead-nav{
  display: inline-block;
  text-decoration: underline;
  padding-right: 10px;
}

.masthead-nav span{
  padding-left: 10px;
}

a:link,a:visited{
  color: seashell;
}


#main {
  margin: auto;
  width: 1200px;
  padding-top: 70px;

}
/* styles for mission */


.mission {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 1200px;
  height: 700px;
  background-image: url(../images/img-mission-background.jpg);
}

.our-mission{
  background-color: #000;
  width: 100%;
}

/* styles for tea of the month */


.tea-store{
  width: 1000px;
  margin: auto;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
}


.tea-month{
  text-align: center;
  margin: 50px 0px;
}



.teas{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

      }


.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.item img{
  width: 300px;
  height: 200px;
  padding: 10px 0px;
}


/* styles for locations */


.location{
  text-align: center;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  margin: 0px;
  width: 1200px;
  height: 500px;
  margin-top: 100px;
  background-image: url(../images/img-locations-background.jpg);

}


.location-wrapper{
  display: flex;
  justify-content: center;
  margin: 0px;

}


.location h2{
  padding-top: 60px;
  padding-bottom: 15px;
  margin-bottom: 0px;
}


.store-location{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding: 20px 0px 40px 0px;
  opacity: 1;
  margin-right: 40px;
  width: 300px;
  background-color: #000;
  opacity: 1;

}


.store-location span{
  padding: 10px 0px;
  align-content: space-between;

}


/* styles for footer */


#footer {
  margin-bottom: 30px;
}


.contact-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}


#footer span{
  text-align: left;
  padding-left: 20px;

}
